@using Microsoft.AspNetCore.Identity
@using Coop.Web.Data
@inject UserManager<ApplicationUser> _userManager

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - КИГ "МЕТАЛЛИСТ-4"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" 
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img alt="Логотип МЕТАЛЛИСТ-4" class="bi me-2" width="40" height="32" src="~/img/logo.png"/>
                    <span class="fs-4">МЕТАЛЛИСТ-4</span>
                  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Advertisement" asp-action="Index">Объявления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Realty" asp-action="Index">Имущество</a>
                    </li>
                    @if (Context.User.IsInRole(Constants.ADMIN_ROLE))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Realty" asp-action="Index">Администрация</a>
                        </li>    
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - АИС Кооператив
    </div>
</footer>
<script src="~/lib/jquery/jquery-3.6.0.slim.min.js"></script>
<script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>