@model ResetUserPasswordViewModel

@{
    ViewBag.Title = "Изменить пароль";
    Layout = "_Layout";
}

<div class="container">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Изменить пароль
            </div>
            <div class="card-body">
                @if (!string.IsNullOrWhiteSpace(Model.Error))
                {
                    <div class="alert alert-danger">
                        @Model.Error
                    </div>
                }
                
                <form method="post">
                    <input type="hidden" name="id" value="@Model.UserId">
                    <div class="mb-3">
                        <label for="pass" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control" required id="pass" name="password">
                    </div>

                    <button type="submit" class="btn-success btn mb-1" >Подтвердить изменение пароля</button>
                    <a asp-action="UserFullInfo" asp-route-id="@Model.UserId" class="btn-outline-primary btn mb-1">
                        Вернуться к пользователю
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>