@model UploadResultViewModel
@{
    ViewBag.Title = "Загрузка платежей";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Загрузите информацию о платежах
                </div>
                <div class="card-body">

                    @if (Model != null)
                    {
                        if (!string.IsNullOrWhiteSpace(Model.ParserError))
                        {
                            <div class="alert alert-danger">
                                @Model.ParserError
                            </div>
                        }
                    }

                    <p>Необходима таблица Excel со столбцами:</p>
                    <ul class="list-unstyled">
                        <li>Номер - номер помещения/объекта/гаража</li>
                        <li>ФИО - ФИО плательщика(если нет,в строке должен стоять символ "-")</li>
                        <li>Дата - Дата оплаты</li>
                        <li>Сумма - сумма оплаты</li>
                    </ul>
                    
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            <label for="uploadbox" class="form-label">Файл для загрузки</label>
                            <input class="form-control form-control-lg" name="file" id="uploadbox" type="file">
                        </div>
                        <button type="submit" class="btn btn-success mt-1">Подтвердить загрузку платежей</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @if (Model != null && Model.Result != null && Model.Result.Count > 0)
    {
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Результаты загрузки
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">

                            @foreach (var result in Model.Result)
                            {
                                <li>@result</li>
                            }

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    }
</div>