@model Coop.Application.News.NewsListViewModel
@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0">
            <h1 class="display-6 fst-italic">Проверить задолженность и оплатить</h1>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 p-3">
                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-text">Номер гаража</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Например, 121">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <dnt-captcha asp-captcha-generator-max="100"
                                     asp-captcha-generator-min="10"
                                     asp-captcha-generator-language="English"
                                     asp-captcha-generator-display-mode="ShowDigits"
                                     asp-use-relative-urls="true"
                                     asp-placeholder="Код с картинки"
                                     asp-validation-error-message="Вы ввели неверный код"
                                     asp-font-name="Tahoma"
                                     asp-font-size="20"
                                     asp-fore-color="#333333"
                                     asp-back-color="#ccc"
                                     asp-text-box-class="form-control"
                                     asp-text-box-template="<div class='input-group'>{0}</div>"
                                     asp-validation-message-class="text-danger"
                                     asp-show-refresh-button="false"/>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Проверить задолженность</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 p-3">
                <figure class="figure">
                    <img src="~/img/qr-code.gif" class="figure-img img-fluid rounded" alt="QR код">
                    <figcaption class="figure-caption">QR код для оплаты через приложение</figcaption>
                </figure>
                <p class="text-start">
                    <a href="#">Оплатить картой через банк</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic">
                Последние новости
            </h3>

            @foreach (var news in Model.Items)
            {
                <article class="blog-post">
                    <h2 class="blog-post-title">@news.Title</h2>
                    <p class="blog-post-meta">@news.CreatedAt.ToLocalTime()</p>
                    <p>
                        @news.Details
                    </p>
                    <hr>
                </article>
            }

            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary" href="#">Старые</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Новые</a>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">О кооперативе</h4>
                    <b class="mb-0">КИГ "МЕТАЛЛИСТ-4"</b>
                    <ol class="list-unstyled">
                        <li>
                            ИНН: 7203005783
                        </li>
                        <li>
                            КПП: 720301001
                        </li>
                        <li>
                            ОГРН: 1037200600447
                        </li>
                        <li>
                            ОКПО: 36260649
                        </li>
                        <li>
                            Расчетный счёт: 40703810967100100047
                        </li>
                        <li>
                            Банк: ЗАПАДНО-СИБИРСКОЕ ОТДЕЛЕНИЕ№8647 ПАО СБЕРБАНК
                        </li>
                        <li>
                            БИК: 047102651
                        </li>
                        <li>
                            Корр. счет: 30101810800000000651
                        </li>
                        <li>
                            Юридический адрес: 625034, Тюменская обл, г Тюмень, ул Дамбовская, д.55, стр. 1
                        </li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Администрация</h4>
                    <ol class="list-unstyled">
                        <li>
                            <b>Эл. почта: </b>
                            <a href="mailto:metallist4.tmn@gmail.com">metallist4.tmn@gmail.com</a>
                        </li>
                        <li>
                            <b>Бухгалтерия:</b>
                            <a href="tel:89995499275">89995499275</a>
                            Ольга Борисовна
                        </li>
                        <li>
                            <b>Председатель: </b>
                            <a href="tel:89224709191">89224709191</a>
                            Сергей Михайлович
                        </li>
                        
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Объявления</h4>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Продам ВАЗ-2107</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Автор: 
                                <a href="#">Иванов И.И.</a>
                            </h6>
                            <p class="card-text">
                                Продам автомобиль ВАЗ-2107 в отличном состоянии. Все вопросы по телефону +7 111 222 33 11
                            </p>
                            <a href="#" class="card-link">Просмотреть все объявления</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>