@model Guid
@{
    ViewBag.Title = "Удалить объявление";
    Layout = "_Layout";
}

<div class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic">
                Удалить объявление
            </h3>
            @Html.ValidationSummary(false)

            <p>
                Вы действительно хотите удалить объявление?
            </p>
            <a asp-controller="Advertisement" asp-action="ConfirmArchive" asp-route-id="@Model" class="btn btn-danger">Подтвердить удаление</a>
            <a asp-controller="Advertisement" asp-action="Index" class="btn btn-outline-primary">Отмена</a>

        </div>
    </div>
</div>