@model string

@{
    ViewBag.Title = "Удаление новости";
    Layout = "_Layout";
}

<div class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic">
                Удалить новость
            </h3>
            @Html.ValidationSummary(false)

            @Model

            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Перейти к новостям</a>
        </div>
    </div>
</div>