@model Coop.Application.Realty.RealtyListViewModel
@{
    ViewBag.Title = "Имущество";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Ваше имущество</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Задолженность</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var realty in Model.Items)
                {
                    <tr>
                        <th scope="row">@realty.InventoryNumber</th>
                        <td>@realty.Balance</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

</div>